@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pblack";
  src: url("./css/Pangram-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pbold";
  src: url("./css/Pangram-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pextrabold";
  src: url("./css/Pangram-ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pextraligth";
  src: url("./css/Pangram-ExtraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pligth";
  src: url("./css/Pangram-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pmedium";
  src: url("./css/Pangram-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pregular";
  src: url("./css/Pangram-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.fondo1 {
  background-image: url("./img/png-01.png");
  height: 300px;
  background-size: cover; /* Asegúrate de que la imagen cubra el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.fondo2 {
  background-image: url("./img/png-07.png");
  height: 500px;
  width: 100%;
  background-size: cover; /* Asegúrate de que la imagen cubra el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.text-justify {
  text-align: justify;
}
